{% extends 'basemain.html.twig' %}

{% block title %}
    {{ hotel.libelle }}
{% endblock %}

{% block body %}
    <div class="container">
        <article>
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt-4">
                                <h2>{{ hotel.libelle }}</h2>
                        </div>
                    </div>
                </div>
            </header>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('uploads/images/hotels/' ~ hotel.image) }}" alt="{{ hotel.libelle }}" class="img-fluid" />
                        </div>
                            <section>
                                <div class="col">
                                    <p>Type : {{hotel.type}}</p>
                                    <p>Etoiles : {% for e in 1..hotel.etoiles %}
                                        ★
                                    {% endfor %}</p>
                                </div>
                        </div>
                                <div class="row mt-2">
                                <p class="description">{{hotel.description}}</p>
                                </div>
                            </section>
                </div>
            </section>
        </article>
    </div>
{% endblock %}
