{% extends 'base.html.twig'%}

{% block title %}
Modifier utilisateur : {{ utilisateur.username }}
{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'value': utilisateur.username}}) }}
    </div>

    <div>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'value': utilisateur.email}}) }}
    </div>

    <button email="submit">Editer</button>
{{ form_end(form) }}

{% endblock %}
