{% extends 'base.html.twig'%}

{% block title %}
Liste des utilisateurs
{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<table>
  <tr>
      <th>Editer</th>
      <th>Supprimer</th>
  <tr>

      {% for utilisateur in utilisateurs %}
      <tr>
        <td>
            <td><a href="{{ path('edit_utilisateur',{'slug': utilisateur.id }) }}">{{utilisateur.username }}</a></td>
        </td>
        <td>
            <td><a href="{{ path('commentaires_utilisateur',{'slug': utilisateur.id }) }}">Commentaires</a></td>
        </td>
        <td>
            <td><a href="{{ path('suppr_utilisateur',{'slug': utilisateur.id }) }}">Suppr</a></td>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
