{% extends 'base.html.twig'%}

{% block title %}
Nouveau type de restaurant
{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.libelle) }}
        {{ form_errors(form.libelle) }}
        {{ form_widget(form.libelle) }}
    </div>
    <button type="submit">Ajouter</button>
{{ form_end(form) }}

{% endblock %}
