{% extends 'base.html.twig'%}

{% block title %}
Types de restaurants
{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<table>
  <tr>
      <th>Libellé</th>
      <th>Supprimer</th>
  <tr>

      {% for type in types %}
      <tr>
        <td>
            {{ type.libelle }}
        <td>
            <td><a href="{{ path('suppr_type_restaurant',{'slug': type.id }) }}">Suppr</a></td>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{{ path('nouv_type_restaurant') }}">Ajouter</a>
<a href="{{ path('liste_restaurants') }}">Retour aux restaurants</a>

{% endblock %}
